@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@300&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: lightgray;
    width: 100%;
    margin: 1rem;
    gap: 2rem;
}

#todoAppContainer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 40rem;
    gap: 1rem;
}

#inputHeader{
    display: flex;
    justify-content: space-between;
}

#titleContainer, #dueDateContainer, #priorityContainer{
    display: flex;
    flex-direction: column;
}

#descriptionSection {
    display: flex;
    flex-direction: column;
}

#taskDescription {
    height: 8rem;
}

.listItem{
    display: flex;
    justify-content: center;
}

.taskContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid;
    margin: 1rem;
    padding: 1rem;
    width: 60%;
}

.topContainer{
    display: flex;
    justify-content: space-between;
}

.bottomContainer{
    display: flex;
    gap: 1rem;
}

.topRight{
    display: flex;
    gap: 1rem;
}

.topLeft{
    display: flex;
    gap: 1rem;
}

.taskTitle{
    text-transform: uppercase;
    min-width: 40%;
}